<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Easeup is a mobile application that connects clients with handymen, allowing clients to get the help they need with handyman services and providing job opportunities for professionals.">
        <meta name="author" content="Easeup">

        <link rel="shortcut icon" href="images/logo.png">

        <title>Easeup | Not Found</title>


        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- tiny slider -->
        <link href="css/tiny-slider.css" rel="stylesheet">
        <link rel="stylesheet" href="css/swiper.min.css" type="text/css" />


        <!-- Materialdesign icons css -->
        <link href="css/materialdesignicons.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">

    </head>

    <body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">





        <section class="section align-items-center bg-home-7 position-relative bg-light" id="home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7 order-lg-1 order-2">
                        <img src="images/home/homeB-7.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6  order-lg-2 order-1">
                        <div class="text-left my-5">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <h6 class="mb-0">Oops</h6>
                                        <h3 class="f-80">Page not found</h3>
                                        <a class="btn btn-primary" href="/" type="submit">Go back</a>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>



        <!-- bootstrap -->
        <script src="js/bootstrap.bundle.min.js"></script>

        <script src="js/tiny-slider.js"></script>
        <script src="js/swiper.min.js"></script>

        <!-- counter -->
        <script src="js/counter.init.js"></script>

        <!-- Custom -->
        <script src="js/app.js"></script>

    </body>

</html>
