<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Easeup is a mobile application that connects clients with handymen, allowing clients to get the help they need with handyman services and providing job opportunities for professionals.">
    <meta name="author" content="Easeup">

    <link rel="shortcut icon" href="images/logo.png">

    <title>Easeup</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- tiny slider -->
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/swiper.min.css" type="text/css" />


    <!-- Materialdesign icons css -->
    <link href="css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a37106eae1.js" crossorigin="anonymous"></script>

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand logo text-uppercase" href="/">
                <img src="images/logo-trans.png" class="logo-light" alt="" height="50">
                <!-- <img src="images/logo-trans.png" class="logo-dark" alt="" height="28"> -->
            </a>

            <button class="navbar-toggler me-3 order-2 ms-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>


        </div>
        <!--end container-->
    </nav>
    <!-- Navbar End -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3 needs-validation">
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">First name <span
                                    class="text-primary">*</span></label>
                            <input type="text" class="form-control" id="validationCustom01" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">Email <span
                                    class="text-primary">*</span></label>
                            <input type="email" class="form-control" id="validationCustom02" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom03" class="form-label">Subject <span
                                    class="text-primary">*</span></label>
                            <input type="text" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom05" class="form-label">Password <span
                                    class="text-primary">*</span></label>
                            <input type="password" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="validationTextarea" class="form-label">Textarea<span
                                    class="text-primary">*</span></label>
                            <textarea class="form-control" id="validationTextarea" required></textarea>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- end modal -->
    <section class="section align-items-center bg-home-7 position-relative bg-light" id="home">

        <div class="container border-radius">
            <h1 align="center" class="mb-4 text-black">Conditions of Service</h1>
            <p align="justify" class="f-16 text-muted">These Terms of Service form a legally binding agreement between
                you and Easeup regarding your use of the Easeup platform, which includes the Easeup website, mobile app,
                and related services, information, and communications. The Easeup platform is referred to collectively
                as "Easeup."
            </p>
            <p align="justify" class="f-16 text-muted"> The way that personal data you submit to the Easeup platform or
                that we collect about you is used is
                governed by our Privacy Policy. You can access a copy of the Privacy Policy by clicking here. By using
                the Easeup platform, you acknowledge that you have reviewed the Privacy Policy.
            </p>
            <p align="justify" class="f-16 text-muted"> By registering and continuing to use the Easeup platform, you
                are agreeing to all the terms and
                conditions in these Conditions of Service, the Privacy Policy, and the Easeup Happiness Pledge, as well
                as any future amendments or additions to this agreement that may be published. If you do not agree to
                any future changes to the agreement, you must deactivate your account and stop using the Easeup
                platform.
            </p>
            <p align="justify" class="f-16 text-muted">
                The Privacy Policy and the Happiness Pledge are part of these Terms of Service and together are referred
                to as the "Agreement."
            </p>

            <p align="justify" class="f-16 text-muted"> <b>If you do not agree to be bound by the terms of this
                    agreement and follow them, you are not allowed to
                    use or access the Easeup platform.</b>
            </p>

            <p align="justify" class="f-16 text-muted"> <b> Please be aware that Section 28 of these terms of service
                    contains provisions specific to different
                    jurisdictions and outlines how users and Easeup can resolve disputes. This arbitration agreement
                    requires you to submit any disputes or claims against Easeup to binding and final arbitration on an
                    individual basis, with limited exceptions. It is important that you read this section carefully as
                    it
                    affects your legal rights, including your right to opt out of arbitration if it is applicable.</b>
            </p>
            <p align="justify" class="f-16 text-muted"> <b> By acknowledging these terms of service and/or using the
                    Easeup platform, you are confirming that you
                    have read, understand, and agree to be bound by them, and you accept all of their terms without any
                    limitation or qualification.</b>
            </p>
            <p align="justify" class="f-16 text-muted">
                Some key points to note in these terms of service include:
            <p>
            <ul>
                <li> You must be at least 18 years old and legally able to enter into contracts in order to use or
                    access the Easeup platform (Section 2).
                </li>

                <li> The technology for the Easeup platform is provided "as is" without any warranties (Section 17).
                </li>
                <li>Easeup does not provide any warranties and is not liable for any actions or tasks performed on
                    the
                    platform (Section 17).
                </li>
                <li> Easeup does not supervise, direct, control, or monitor a handyman's work or tasks (Section 1).
                </li>
                <li>Clients are solely responsible for determining if the handyman they hire is qualified to perform
                    the
                    task (Sections 1 and 23).
                </li>
                <li>Handymen are independent contractors of clients and are not employees, independent contractors,
                    or
                    service providers of Easeup (Section 1).
                </li>
                <li>You agree to indemnify and hold Easeup harmless from any claims arising from your use or
                    inability
                    to
                    use the Easeup platform or content submitted from your account to the platform (Section 18)</li>
            </ul>
            </p>

            </p>

            <h2 class="mb-4 text-black">The Easeup Platform Connects Handymen and Clients</h2>
            <p align="justify" class="f-16 text-muted">The Easeup Platform is a web and app-based service that connects
                clients with handymen. Clients are individuals or businesses that need short-term services, also known
                as "tasks," while handymen are businesses that offer these services. Both clients and handymen are
                referred to as "users." If a client and handyman agree on the terms of a task, they form a service
                agreement directly with each other.
                Handymen on the Easeup platform are independent business owners and contractors of clients, not
                employees or agents of Easeup. Easeup does not perform tasks and is not responsible for the work of
                handymen. It operates as an online marketplace that connects clients with handymen who are willing to
                perform various tasks. Easeup does not supervise, direct, or control the work of handymen and does not
                assume any responsibility or liability for their work, including any warranties or guarantees of the
                quality or suitability of their services.
                The Easeup platform may refer to handymen as being licensed, credentialed, "badged," "reliable,"
                "elite," "great value," "background checked," or "vetted," but this simply means that they have
                completed the necessary account registration process or met certain criteria and does not necessarily
                reflect their skills or qualifications. These descriptions are not endorsements or guarantees by Easeup
                and should not be taken as such. They are provided as information for clients to use when evaluating the
                suitability of handymen for the tasks they need. Clients are responsible for making their own decisions
                about the identity and suitability of handymen they choose to work with through the Easeup platform.
                The Easeup platform facilitates connections between users for the completion of tasks, but it is not
                responsible for the performance or communication of users, the quality or timing of tasks, or the
                actions or omissions of any user. Easeup does not control or guarantee the suitability, reliability,
                timeliness, or accuracy of tasks requested or services provided by users, or the communication between
                users, whether online or offline. Easeup also does not endorse or guarantee the accuracy of any ratings
                or reviews provided by users about each other.

            </p>
            <h2 class="mb-4 text-black">Handyman Background Checks and User Representations and Warranties</h2>
            <h3 class="mb-4 text-black"> Handyman Background Checks</h3>

            </h2>
            <p align="justify" class="f-16 text-muted">Handymen may be subject to a review process, including identity
                verification and criminal background checks, before they can use the Easeup platform. However, Easeup
                cannot guarantee the accuracy or reliability of this information and is not responsible for verifying
                the identity of users. When interacting with other users, it is important to use caution and protect
                your personal safety, data, and property, as you would with any unfamiliar person. Easeup is not liable
                for any false or misleading statements made by users of the platform.
            </p>
            <p align="justify" class="f-16 text-muted"><b>Easeup and its affiliates, including their directors,
                    officers, shareholders, agents, subsidiaries, attorneys, representatives, insurers, employees,
                    successors, and assigns, are not responsible or liable for the conduct, acts, or omissions, online
                    or offline, of any user of the Easeup platform. By using the platform, you release Easeup and its
                    affiliates from any and all liability, claims, demands, or damages of any kind arising from your use
                    of the platform, to the extent permitted by law. This includes known and unknown, suspected and
                    unsuspected, and disclosed and undisclosed claims.</b>
            </p>
            <h3 class="mb-4 text-black">User Representations and Warranties</h3>
            <p align="justify" class="f-16 text-muted"><b>All users of the Easeup platform must:</b>
            </p>
            <p align="justify" class="f-16 text-muted">
            <ul>
                <li>Be at least 18 years old and legally able to enter into contracts.</li>
                <li>Have the right and authority to enter into this agreement and abide by its terms.</li>
                <li>Have read, understood, and agreed to the terms of service, privacy policy, and happiness pledge
                    applicable to the location where the task will be performed.</li>
                <li>Only perform tasks in cities where the Easeup platform is available.</li>
                <li>Respect the privacy, property, and data protection rights of other users and not record any tasks or
                    interactions without prior written consent.</li>
                <li>Fulfill their commitments to other users, communicate clearly and promptly, be present and available
                    at the agreed upon time, and use the designated or approved third party payment service provider for
                    payment.</li>
                <li>Act professionally and responsibly in their interactions with other users.</li>
                <li>Use their real name or business name on their profile.</li>
                <li>Follow all applicable laws and act in good faith when using the Easeup platform.</li>
                <li>Not use the platform to purchase or deliver alcohol or other controlled or illegal substances or
                    services.</li>
                <li>If using the platform on behalf of a company or organization, have the authority to act on their
                    behalf and bind them to this agreement.</li>
                <li>Fully and promptly disclose any potential conflicts of interest or motivations that Easeup may wish
                    to know about, including any journalistic, academic, investigative, or unlawful purposes.</li>
            </ul></b>
            </p>
            <p align="justify" class="f-16 text-muted"><b>In addition to the requirements for all users, handymen using
                    the
                    Easeup platform must: </b></p>
            <p align="justify" class="f-16 text-muted">
            <ul>
                <li>Operate as a sole proprietorship, partnership, limited liability company, limited liability
                    partnership, corporation, or other business entity</li>
                <li>Be engaged in an independently established business similar to the services they offer on the
                    platform and have their own independent clientele</li>
                <li>Have the right to work in the country.</li>
                <li>Have any required business licenses or tax registrations in the jurisdiction where they will be
                    performing tasks.</li>
                <li>Obtain any necessary licenses, permits, or registrations before offering services and undertaking
                    tasks.</li>
                <li>Have the insurance required to operate their business and provide their services.</li>
                <li>Use their real name or business name and a current photo on their profile.</li>
                <li>Honor their commitments to other users, including responding to invitations promptly, performing
                    tasks as agreed upon with clients, and providing high-quality services to clients.
                </li>
                <li>Only offer and provide services for which they have the necessary skills and expertise, and do so
                    safely and in accordance with all applicable laws.</li>
            </ul>
            </p>
            <h2 class="mb-4 text-black">Contract between Clients and Handymen</h2>
            <p align="justify" class="f-16 text-muted">A legally binding contract between a client and a handyman, known
                as a service agreement, is formed when they agree on the terms of a task. The service agreement includes
                the terms set forth in this section of the agreement, the engagement terms agreed upon on the Easeup
                platform, and any other contractual terms agreed upon by the handyman and client, as long as they do not
                conflict with the terms of the service agreement or expand Easeup's obligations or restrict its rights
                under the agreement. Easeup is not a party to any service agreement and the formation of such an
                agreement does not create an employment or other service relationship between Easeup and the handyman or
                between the client and the handyman. Users do not have the authority to enter into contracts on behalf
                of Easeup.
            </p>
            <p align="justify" class="f-16 text-muted">Handymen may engage assistants, helpers, subcontractors, or other
                personnel to help them perform tasks, as long as they have been registered through the Easeup platform
                and the client has approved their involvement. The handyman is responsible for the actions and omissions
                of these assistants and for paying their compensation, benefits, and expenses, as well as any required
                tax withholdings. Clients are responsible for confirming that any assistants are registered handymen on
                the platform.
            </p>
            <p align="justify" class="f-16 text-muted">Clients have the discretion to decide whether they will be
                present when a task is being performed or not. If someone else books the task on their behalf or is
                present in their place, they are appointing that person as their agent and the handyman may take
                direction from them as if it were coming from the client. If a client's agent is accessing and using the
                Easeup platform on behalf of a client, they must have the authority to act as the client's agent and
                bind them to the terms of the platform. The client's agent may waive the client's scoping, direction, or
                instruction of the handyman's work or the task performance in the client's stead. The client is
                responsible and liable for any direction or waivers made by their agent as if they had made them
                themselves. The client is also responsible for the actions and omissions of their agent. Client's agents
                are not covered under the Happiness Pledge. The client is required to pay the handyman in full for all
                task services through the specified payment service provider at the agreed upon rates. Both the client
                and the handyman must adhere to the terms of the service agreement and this agreement during the task
                engagement, performance, and completion
            </p>
            <h2 class="mb-4 text-black">Billing and Payment</h2>
            <p align="justify" class="f-16 text-muted">Users of the Easeup Platform can contract with other users for
                tasks, but Easeup is not a party to these contracts. Clients are responsible for paying for all tasks
                through the Easeup Platform using the third party payment service provider (PSP). Easeup is not
                responsible for compensating Handymen for Client's failure to pay for services. The Task Payment,
                service charge, and Trust & Support fee must be paid through the PSP, and Clients on the platform will
                need to provide payment method details to Easeup and the PSP. Handymen must accurately invoice Clients
                within 24 hours of work being performed, including any out-of-pocket expenses and any applicable service
                charge or Trust & Support fee assessed by Easeup. Clients may also be charged credit card processing
                fees if expenses exceed a certain amount. Handymen are responsible for paying registration fees and
                repaying any erroneous payments.
            </p>
            <p align="justify" class="f-16 text-muted">Handymen must create an account with the PSP in order to receive
                payment for their services. By accepting these terms of service, Handymen agree to the PSP Services
                Agreement, which outlines the terms of the payment process. Easeup is not a party to the PSP Services
                Agreement and is not responsible for any issues that may arise in the payment process. In order to
                protect user information and prevent fraud, Easeup and the PSP may validate accounts before activation
                and before each booking by placing temporary charges on the user's account, which will be refunded
                within 1-5 business days. These charges may vary based on the estimated value of the Task. When a Client
                receives confirmation that a Task has been completed, they authorize the PSP to process the Invoice(s).
                Clients may be charged a one-hour cancellation fee at the Handyman's hourly rate if they book a Task but
                cancel it before the scheduled time for the service.
            </p>
            <p align="justify" class="f-16 text-muted">Easeup reserves the right to hold, refund, or provide credits for
                Task Payment, out of pocket expenses, tips, or gratuities if requested by the Client or Handyman or if
                there is potential fraud, unauthorized charges, or other misuse of the platform. Users may be
                responsible for paying taxes or similar charges on tasks and fees, and Easeup may issue receipts or
                documentation to facilitate accurate tax reporting in the country.
            </p>
            <h2 class="mb-4 text-black">Contests, Gift Cards, and Promotional Codes</h2>
            <p align="justify" class="f-16 text-muted">Easeup may occasionally offer promotional opportunities and
                contests to users. These promotions will be managed solely by Easeup and may be altered or removed at
                any time without prior notice. Any liability that Easeup or its affiliates or corporate partners may
                have as a result of these promotions and contests will be subject to the limitations outlined in section
                17 of the terms of service. Easeup gift cards and promotional codes may be used to pay for task payments
                and Easeup service charges and Trust & Support fees, but they cannot be used to pay for reimbursement of
                out-of-pocket expenses or tips for tasks completed through the Easeup platform.
            </p>
            <h2 class="mb-4 text-black">
                <ul>
                    <li>Promo Codes</li>
                </ul>
            </h2>

            <p align="justify" class="f-16 text-muted">Promo Codes are discounts offered by Easeup on task payments,
                service charges, and/or Trust & Support fees. They do not affect the amount of the task payment that a
                handyman receives. Promo Codes are intended for promotional purposes only and do not create a
                relationship between Easeup, the handyman, or the client, or constitute wages, fees, or other payments
                to the handyman. You must use Promo Codes in accordance with their terms and conditions. A Promo Code
                for new users can only be used once per user, regardless of the email address used during registration.
                Easeup reserves the right to revoke or deduct credits or other benefits obtained through the use of a
                Promo Code if the use or redemption of the Promo Code was in error, fraudulent, illegal, or otherwise
                violated the Promo Code terms and conditions or the agreement.
            </p>
            <h2 class="mb-4 text-black">
                <ul>
                    <li>Gift Cards</li>
                </ul>
            </h2>
            <p align="justify" class="f-16 text-muted">Gift cards can only be used for tasks performed on the Easeup
                platform, cannot be replaced if lost or stolen, and do not expire. They have no cash value and cannot be
                exchanged for cash, except as required by law. Gift cards must be entered directly into a client
                account; they cannot be used directly as a payment method by handymen. A gift card cannot be used in
                combination with other gift cards, gift certificates, or promo codes. There is no credit card, credit
                line, overdraft protection, or deposit account associated with a gift card, and you cannot add value to
                it at this time. If a purchase using a gift card exceeds the balance on the card, the difference must be
                paid by another method. Unused gift card balances are not transferable. Easeup reserves the right to
                correct the balance on a gift card if it believes there has been a billing error, and to limit the
                number of gift cards that can be purchased by any person or entity, or to cancel a gift card if it was
                obtained through fraudulent or unauthorized means. Using a gift card is subject to this agreement and
                constitutes acceptance of the terms and conditions. You must comply with all gift card terms and
                conditions.
            </p>
            <h2 class="mb-4 text-black">Mobile App Updates and Upgrades</h2>
            <p align="justify" class="f-16 text-muted">By installing the App, you agree to allow the App and any updates
                or upgrades released through the Easeup Platform to be installed on your device. These updates or
                upgrades may cause your device to automatically communicate with Easeup's servers in order to provide
                the App's functionality and track usage metrics. They may also change preferences or data related to the
                App that are stored on your device, and may collect personal information as described in our Privacy
                Policy. You can uninstall the App at any time.
            </p>
            <h2 class="mb-4 text-black">Deactivation and Suspension</h2>
            <p align="justify" class="f-16 text-muted">Easeup may temporarily suspend your access to the Easeup Platform
                while it investigates a potential breach of this Agreement by you. If Easeup determines that you have
                breached a provision of this Agreement (referred to as a "User Breach"), it may deactivate your account
                or limit your use of the Easeup Platform. Easeup will provide you with written notice of this
                determination as required by law, unless it believes that your account has been compromised and that the
                notice would be sent to the wrong person, or if notice would be otherwise counterproductive or pose a
                risk to safety. If you wish to appeal this determination, please contact policies@Easeup.net within 14
                days of receiving the notice, stating the grounds for your appeal.

            </p>
            <p align="justify" class="f-16 text-muted">If Easeup suspends or deactivates your account or limits your use
                of the Easeup Platform in accordance with this section, you are not allowed to register or create a new
                account under your own or any third party's name, including a fake or borrowed name, even if you are
                acting on behalf of the third party.

            </p>

            <p align="justify" class="f-16 text-muted">Even if your right to use the Easeup Platform is suspended,
                terminated, or limited, this Agreement will still be enforceable against you. Easeup reserves the right
                to take legal action as allowed by this Agreement.

            </p>
            <p align="justify" class="f-16 text-muted">Easeup reserves the right to modify or discontinue any part of
                the Easeup Platform at its discretion, either temporarily or permanently. It will provide you with
                notice of any such changes as required by law. Easeup will not be liable to you for any modification or
                discontinuation of any part of the Easeup Platform, to the extent permitted by law. Easeup also has the
                right to prevent anyone from completing registration as a Handyman if their presence on the platform may
                threaten its safety or integrity, or if their registration is necessary to address any other reasonable
                business concern.
            </p>
            <p align="justify" class="f-16 text-muted">You can terminate this Agreement at any time by stopping all use
                of the Easeup Platform and deactivating your account.
            </p>
            <h2 class="mb-4 text-black">Account, Password, Security, and Telephone Communications</h2>
            <p align="justify" class="f-16 text-muted">To use the Easeup Platform, you must register with Easeup and
                create an account. You are responsible for keeping the login information, password, and account number
                provided to you by Easeup confidential. You are fully and solely responsible for all activity that
                occurs under your password or account, even if you did not authorize it. Easeup has no control over the
                use of any user's account and explicitly denies any liability resulting from it. If you suspect that an
                unauthorized party may be using your password or account, or if you suspect any other security breach,
                you agree to notify Easeup immediately.
            </p>
            <p align="justify" class="f-16 text-muted">You understand that telephone calls to or from Easeup and its
                agents and affiliates may be recorded for quality control and training purposes.
            </p>
            <p align="justify" class="f-16 text-muted">You confirm that the contact information you provide to Easeup,
                its agents and affiliates, and users, including but not limited to your name, business name, mailing
                address, email address, residential or business telephone number, and/or mobile phone number, is
                accurate and true. You confirm that you are the current subscriber or owner of any phone number you
                provide. You are strictly prohibited from providing a phone number that is not your own. If we discover
                that any information provided in connection with your registration is false or inaccurate, we may
                suspend or deactivate your account. If any of your contact information changes, you agree to immediately
                notify Easeup before the change goes into effect by visiting help.tr.co. If the change involves the
                ownership of your phone numbers, you can notify Easeup by texting STOP to any text message sent to the
                retiring phone number.
            </p>
            <h2 class="mb-4 text-black">User Generated Content</h2>
            <p align="justify" class="f-16 text-muted">User Generated Content refers to any information or materials
                that you provide to Easeup or other users through the use of the Easeup platform or as part of a
                promotional campaign. You are solely responsible for the accuracy and legality of your User Generated
                Content and Easeup is not responsible for any claims related to it. Easeup acts as a passive conduit for
                the online distribution and publication of your User Generated Content and has no obligation to monitor
                or review it. However, Easeup reserves the right to remove or limit User Generated Content that does not
                comply with the terms of the agreement.
            </p>
            <p align="justify" class="f-16 text-muted">You must ensure that your User Generated Content is not false,
                misleading, or fraudulent, does not involve the sale of illegal or stolen items, does not infringe on
                any intellectual property rights or violate any laws, is not defamatory or harmful, and does not contain
                viruses or malicious code. You also may not claim to be affiliated with or represent Easeup in any way
                and must not create liability for Easeup or cause it to lose the services of its internet service
                providers or other partners.
            </p>
            <p align="justify" class="f-16 text-muted">The Easeup platform hosts user-generated content, including
                reviews and ratings of specific handymen (referred to as "Feedback"). This Feedback reflects the
                opinions of the users who have posted it and has not been verified or approved by Easeup. Easeup is not
                responsible or liable for any Feedback or other user-generated content. Easeup encourages users to give
                objective, constructive, and honest Feedback about their experiences with other users. Easeup may, at
                its discretion, investigate or consider statements or materials posted by users about Feedback, but it
                is not obligated to do so. You agree that Feedback allows users to express their experiences and that
                you will not take action solely because you disagree with the Feedback. If you believe that a review
                violates the terms of the agreement or the Easeup Ratings and Reviews Policy, you may request its
                removal by contacting the support team. It is the responsibility of each client to research the
                qualifications of a specific handyman before booking a task to ensure that they are suitable for the
                job.
            </p>
            <p align="justify" class="f-16 text-muted">Easeup expects users to respect the personal and other rights of
                others and will identify a user to other users or third parties if they believe their rights have been
                infringed by user-generated content submitted by that user. If a user believes in good faith that any
                user-generated content on the Easeup platform is objectionable or infringes their rights or the rights
                of others, they are encouraged to notify Easeup. If a user discovers user-generated content that
                promotes crimes against humanity, incites hatred and/or violence, or concerns child pornography, they
                must notify Easeup immediately. Notification can be made by contacting Easeup at the address provided.
            </p>
            <h2 class="mb-4 text-black">Links to Third-Party Websites</h2>
            <p align="justify" class="f-16 text-muted">The Easeup platform may contain links to third-party websites for
                reference and convenience. These links do not constitute an endorsement by Easeup or an association with
                the content or operators of these websites. Easeup is not responsible for the availability, accuracy,
                content, advertising, products, or services of these websites and does not control them. It is your
                responsibility to evaluate the information obtained from these websites. Easeup is not responsible for
                third-party websites and is not liable for any claims related to them. Easeup reserves the right to
                remove or limit links to third-party websites on the Easeup platform at its discretion. The terms and
                conditions of use and privacy policy of a third-party website apply to your use of that website. Easeup
                is not responsible for any liability arising from your use or viewing of third-party websites or
                material associated with links on the Easeup platform. You agree to hold Easeup harmless from any
                liability resulting from the use of such links
            </p>
            <h2 class="mb-4 text-black">Easeup Operates as an Online Marketplace</h2>
            <p align="justify" class="f-16 text-muted">Easeup operates as an online marketplace that connects Clients
                with service providers (Handymen) who wish to perform a variety of Tasks. Easeup does not perform Tasks
                and does not employ people to perform Tasks. Handymen operate as independent business owners and are
                customarily engaged in an independently established business of the same nature as that involved in the
                services performed for Clients through the Easeup Platform. Easeup does not control or direct the
                Handymen performance of their services or set their work locations, work hours, or terms of work.
                Handymen provide services under their own name or business name, and not under Easeup’s name. Handymen
                provide their own tools and supplies to perform their services; Easeup does not provide the tools or
                supplies. Handymen are free to maintain a clientele without any restrictions from Easeup and are free to
                offer and provide their services elsewhere, including through competing platforms. Handymen are free to
                accept or reject Clients and contracts. Handymen are not penalized for rejecting Clients or contracts,
                though if Handymen accept a Client or contract through the Easeup Platform, they are expected to fulfill
                their contractual obligations to their client. Handymen set their own rates for services performed in
                the Easeup general marketplace, without deduction by Easeup..
            </p>
            <p align="justify" class="f-16 text-muted">The Easeup Platform is not an employment agency service or
                business and Easeup is not an employer of any User. Handymen acknowledge and confirm that they are
                responsible for exercising their own business judgment in entering into Service Agreements and
                performing Tasks and that, depending on how they exercise such business judgment, there is a chance for
                individual profit or loss.
            </p>
            <h2 class="mb-4 text-black"> Easeup Happiness Pledge</h2>
            <p align="justify" class="f-16 text-muted">The Easeup Happiness Pledge, which applies to the country where
                the task is performed, is part of this agreement and is incorporated by reference. Handymen are
                responsible for determining which categories they are qualified to work in and for communicating the
                scope of the task directly with their clients. Easeup does not oversee, monitor, or direct how a
                handyman performs a task and does not assume responsibility for the actions of users. It is the
                responsibility of the client to confirm that the handyman is qualified to perform the task before it
                takes place. Easeup is not liable for the actions or omissions of users and does not provide insurance
                against losses sustained by users. However, Easeup wants users to be satisfied with their experience on
                the Easeup platform and the Happiness Pledge is in place to encourage continued use of the platform.
                Payments made under the Happiness Pledge are made at the sole discretion of Easeup and are subject to
                certain conditions, limitations, and exclusions as described in the Happiness Pledge. The Happiness
                Pledge does not supersede the terms of the agreement or the Privacy Policy, including the limitations on
                liability, and these terms take precedence in the event of a conflict with the Happiness Pledge. The
                Happiness Pledge is not insurance and Easeup is not an insurer.
            </p>
            <h2 class="mb-4 text-black">Intellectual Property Rights</h2>
            <p align="justify" class="f-16 text-muted">All text, graphics, editorial content, data, formatting, graphs,
                designs, HTML, look and feel, photographs, music, sounds, images, software, videos, typefaces, and other
                content, including Easeup designs, trademarks, and logos (collectively "Proprietary Material") that
                users see or read through the Easeup platform is owned by Easeup, with the exception of user-generated
                content, for which users grant Easeup a license to use as described in the agreement. Easeup owns all
                Proprietary Material and has the rights to the coordination, selection, arrangement, and enhancement of
                such material. The Proprietary Material is protected by domestic and international laws related to
                copyrights, patents, and other proprietary rights. Users are not allowed to copy, download, use,
                redesign, reconfigure, or retransmit any Proprietary Material from the Easeup platform without the
                express written consent of Easeup and, if applicable, the holder of the rights to the user-generated
                content. Any unauthorized use of Proprietary Material is prohibited. The service marks and trademarks of
                Easeup, including Easeup, Easeup for Good, and associated logos, are owned by Easeup. Any other
                trademarks, service marks, logos, and/or trade names appearing on the Easeup platform are the property
                of their respective owners. Handymen are not allowed to use Easeup's proprietary marks and logos without
                the express written consent of the owner.
            <h2 class="mb-4 text-black">Copyright Complaints and Copyright Agent</h2>
            <p align="justify" class="f-16 text-muted">Easeup respects the intellectual property of others and expects
                Users to do the same. If you believe, in good faith, that any materials provided on or in connection
                with the Easeup Platform infringe upon your copyright or other intellectual property right, please send
                the following information to copyright@Easeup.com:
            </p>
            <p align="justify" class="f-16 text-muted">
            <ul>
                <li>A description of the copyrighted work that you claim has been infringed, including the URL
                    (Internet address) or other specific location on the Easeup Platform where the material you claim is
                    infringed is visible. Include enough information to allow Easeup to locate the material, and explain
                    why you think an infringement has taken place;</li>
                <li>A description of the location where the original or an authorized copy of the copyrighted work
                    exists -- for example, the URL (Internet address) where it is posted or the name of the book in
                    which it has been published;</li>
                <li>Your name, address, telephone number, and e-mail address;</li>
                <li>A statement by you that you have a good faith belief that the disputed use is not authorized by
                    the copyright owner, its agent, or the law;</li>
                <li>A statement by you, made under penalty of perjury, that the information in your notice is
                    accurate, and that you are the copyright owner or authorized to act on the copyright owner’s behalf;
                    and</li>
                <li>• Your electronic or physical signature as the owner of the copyright or the person authorized to
                    act on behalf of the owner of the copyright interest.</li>
            </ul>
            </p>
            <h2 class="mb-4 text-black">Easeup Operates as an Online Marketplace</h2>
            <p align="justify" class="f-16 text-muted">Easeup operates as an online marketplace that connects Clients
                with service providers (Handymen) who wish to perform a variety of Tasks. Easeup does not perform Tasks
                and does not employ people to perform Tasks. Handymen operate as independent business owners and are
                customarily engaged in an independently established business of the same nature as that involved in the
                services performed for Clients through the Easeup Platform. Easeup does not control or direct the
                Handymen performance of their services or set their work locations, work hours, or terms of work.
                Handymen provide services under their own name or business name, and not under Easeup’s name. Handymen
                provide their own tools and supplies to perform their services; Easeup does not provide the tools or
                supplies. Handymen are free to maintain a clientele without any restrictions from Easeup and are free to
                offer and provide their services elsewhere, including through competing platforms. Handymen are free to
                accept or reject Clients and contracts. Handymen are not penalized for rejecting Clients or contracts,
                though if Handymen accept a Client or contract through the Easeup Platform, they are expected to fulfill
                their contractual obligations to their client. Handymen set their own rates for services performed in
                the Easeup general marketplace, without deduction by Easeup..
            </p>
            <h2 class="mb-4 text-black">Confidential Information</h2>
            <p align="justify" class="f-16 text-muted">You agree to keep all information about Easeup and its business,
                operations, and properties confidential and not to disclose it to any third party. This includes trade
                secrets, proprietary information, and any other information that is not generally known to the public or
                that could be valuable to others. You also agree to protect this information from unauthorized
                disclosure, use, or transfer. You must immediately notify Easeup if you become aware of any potential
                unauthorized disclosure or use of this confidential information. You are also required to return all
                materials containing confidential information to Easeup upon deactivation of your account or termination
                of this agreement. Confidential information includes technical data, research, product plans, products,
                services, customers, markets, software, inventions, processes, formulas, technology, designs, drawings,
                engineering, hardware configuration information, marketing, finances, and other proprietary materials
                related to Easeup or its business, operations, or properties. It also includes information about
                Easeup's staff, users, or partners.
            </p>
            <h2 class="mb-4 text-black">Disclaimer of Warranties</h2>
            <p align="justify" class="f-16 text-muted">Please note that for Users outside the United States, this
                Section 17 may be subject to the jurisdiction-specific exemptions set forth in Section 28.
            </p>
            <h4 class="mb-4 text-black">
                <ul>
                    <li>Use of The Easeup Platform Is Entirely At Your Own Risk</li>
                </ul>
            </h4>
            <p align="justify" class="f-16 text-muted"><b>The Easeup platform is provided "as is" without any warranties
                    or conditions, either expressed or implied. This includes warranties or conditions of
                    merchantability, fitness for a particular purpose, good workmanship, and non-infringement. Easeup
                    does not guarantee the accuracy or completeness of the content provided through the platform or the
                    content of any linked sites. Easeup will not be held responsible or liable for any errors, mistakes,
                    or inaccuracies in the content, personal injury or property damage resulting from access to or use
                    of the platform, access to or use of secure servers and personal or financial information stored on
                    them, or events beyond Easeup's control.</b>
            </p>
            <p align="justify" class="f-16 text-muted">Easeup does not warrant, endorse, guarantee or assume
                responsibility for any service advertised or offered by a third-party through the Easeup Platform or any
                hyperlinked website or featured in any banner or other advertising, and Easeup will not be a party to or
                in any way be responsible for any transaction between you and other Users, or you and third-party
                providers of products or services. As with the purchase of a product or service through any medium or in
                any environment, you should use your best judgment and exercise caution where appropriate. Without
                limiting the foregoing, Easeup and Affiliates do not warrant that access to the Easeup Platform will be
                uninterrupted or that the Easeup Platform will be error-free; nor do they make any warranty as to the
                results that may be obtained from the use of the Easeup Platform, or as to the timeliness, accuracy,
                reliability, completeness or content of any Task, service, information or materials provided through or
                in connection with the use of the Easeup Platform. Easeup and Affiliates are not responsible for the
                conduct, whether online or offline, of any User. Easeup and Affiliates do not warrant that the Easeup
                Platform is free from computer viruses, system failures, worms, trojan horses, or other harmful
                components or malfunctions, including during hyperlink to or from third-party websites. Easeup and
                Affiliates will implement appropriate technical and organizational measures to ensure a level of
                security adapted to the risk for any personal information supplied by you.
            </p>
            <p align="justify" class="f-16 text-muted">Notwithstanding any feature or service that a Client may use to
                expedite Handyman selection, each Client is responsible for determining the Task and selecting or
                otherwise approving their Handyman and Easeup does not warrant any goods or services purchased by a
                Client and does not recommend any particular Handyman. Easeup does not provide any warranties or
                guarantees regarding any Handyman’s ability, professional accreditation, registration or licensure.
            </p>
            <h4 class="mb-4 text-black">
                <ul>
                    <li>No Liability</li>
                </ul>
            </h4>
            <p align="justify" class="f-16 text-muted">By agreeing to use the Easeup platform, you acknowledge that
                Easeup and its affiliates (including corporate partners) are not liable for any claims, damages,
                expenses, losses, or other liabilities (collectively, "Liabilities") arising from your use or inability
                to use the platform, including any Liabilities related to the conduct of other users (such as stalking,
                harassment, violence, or damage to personal property), any disputes with other users, any instructions,
                advice, or services provided by Easeup and its affiliates, or any damage to your user-generated content.
                You also agree not to hold Easeup and its affiliates responsible for any such Liabilities.
            </p>
            <p align="justify" class="f-16 text-muted"><b>Easeup and its affiliates (including corporate partners) will
                    not be liable for any direct, indirect, incidental, actual, consequential, economic, special, or
                    exemplary damages (including but not limited to lost profits, loss of data, loss of goodwill,
                    service interruption, computer damage, system failure, failure to store any information or other
                    content maintained or transmitted by Easeup, the cost of substitute products or services, or
                    attorneys' fees and costs) arising from your use of or inability to use the Easeup platform or the
                    task services. This release from liability applies even if Easeup and its affiliates have been
                    advised of the possibility of such damages.</b>
            </p>
            <p align="justify" class="f-16 text-muted"><b>Easeup and its affiliates specifically deny any liability for
                    any issues that may arise between users of its platform. They also do not accept responsibility for
                    the quality or fitness of any work performed through the platform. If, despite these exclusions, it
                    is determined that Easeup and its affiliates are liable for damages, the total amount of their
                    liability will not exceed the total fees paid by you to Easeup (if you are a client) or the total
                    task payments paid to you by clients (if you are a handyman) in the six months prior to the time the
                    claim arose, as allowed by applicable law.</b>
            </p>
            <h2 class="mb-4 text-black">Indemnification</h2>
            <p align="justify" class="f-16 text-muted">By agreeing to this agreement, you agree to protect and
                compensate Easeup and its affiliates from any liability that may arise from (i) your use or inability to
                use the Easeup platform; (ii) your participation in tasks, or your ability to perform or receive payment
                for tasks; (iii) any violation of this agreement; (iv) any violation of the law or the rights of other
                users or third parties; (v) your failure to uphold the representations and warranties stated in Section
                2; (vi) any content you submit or use through your account on the Easeup platform that may infringe on
                the intellectual property rights of a third party or be illegal or unlawful; and (vii) if you are a
                client, the actions or omissions of any client's agents. Easeup has the right to take control of any
                matter that is subject to your indemnification at its own discretion. You are not allowed to settle any
                claims or matters without the prior written consent of Easeup.
            </p>
            <h2 class="mb-4 text-black">Dispute Resolution </h2>
            <p align="justify" class="f-16 text-muted">In order to resolve disputes efficiently and at a lower cost,
                you and Easeup agree to try to resolve any disputes informally for at least 30 days before taking
                any legal action or seeking out-of-court settlements (such as mediation or arbitration) related to
                your use of the Easeup platform, your relationship with Easeup, tasks, or this agreement (including
                previous versions). These informal negotiations will begin when written notice is given. Your
                address for these notices is the one associated with your account, with a copy sent to the email
                address you provided to Easeup. This applies to any disputes, controversies, or claims that may
                arise from or be related to the above mentioned topics.
            </p>
            <h2 class="mb-4 text-black">App Store-Sourced Apps</h2>
            <p align="justify" class="f-16 text-muted">For any app that is accessed through or downloaded from the Apple
                App Store (an "App Store-Sourced Application"), the following terms apply:
            </p>
            <p align="justify" class="f-16 text-muted">
            <ul>
                <li>You understand and agree that this agreement is only between you and Easeup, and that Apple is not
                    a party to this agreement except as a third-party beneficiary as described below.</li>
                <li>Easeup, not Apple, is solely responsible for the App Store-Sourced Application and its content.</li>
                <li>Your use of the App Store-Sourced Application must follow the App Store Terms of Service.</li>
            </ul>
            </p>
            <p align="justify" class="f-16 text-muted">You acknowledge that Apple is not responsible for providing
                maintenance or support for the App Store-Sourced Application. If the App Store-Sourced Application fails
                to meet any applicable warranty, you can notify Apple and they will refund the purchase price for the
                App Store-Sourced Application. To the fullest extent permitted by law, Apple will not have any other
                warranty obligations regarding the App Store-Sourced Application. Any other claims, losses, liabilities,
                damages, costs or expenses related to the App Store-Sourced Application's failure to meet any warranty
                will be the responsibility of Easeup, subject to the limitations and exclusions of the warranty set
                forth in this agreement.:
            </p>
            <p align="justify" class="f-16 text-muted">YYou and Easeup acknowledge that Apple is not responsible for
                addressing any claims you or any third parties may have regarding the App Store-Sourced Application or
                your possession and use of the App Store-Sourced Application. This includes, but is not limited to:
            </p>
            <p align="justify" class="f-16 text-muted">
            <ul>
                <li>Product liability claims</li>
                <li>Claims that the App Store-Sourced Application does not meet any applicable legal or regulatory
                    requirements</li>
                <li>Claims arising under consumer protection or similar legislation</li>
            </ul>
            </p>
            <p align="justify" class="f-16 text-muted">In the event that a third party claims that the App Store-Sourced
                Application or your possession and use of it infringes on their intellectual property rights, Easeup
                (and not Apple) will be responsible for investigating, defending, settling, and addressing the claim, to
                the extent required by this agreement.
            </p>
            <p align="justify" class="f-16 text-muted">You and Easeup acknowledge and agree that Apple and its
                subsidiaries are third-party beneficiaries of this agreement in relation to your license of the App
                Store-Sourced Application. This means that upon your acceptance of the terms and conditions of this
                agreement, Apple has the right (and is deemed to have accepted the right) to enforce this agreement
                against you as a third-party beneficiary in relation to your use of the App Store-Sourced Application.
                In addition to other terms in this agreement, you must comply with all applicable third-party terms of
                agreement when using the App Store-Sourced Application.

            </p>
            <h2 class="mb-4 text-black">General Provisions </h2>
            <p align="justify" class="f-16 text-muted">Easeup's failure to enforce any provisions of this agreement does
                not constitute a waiver of any rights or provisions. This agreement is the complete and exclusive
                agreement between you and Easeup regarding its subject matter, and it supersedes and governs any prior
                agreements or communication except as otherwise specified in the arbitration agreement in Section 28A.
                The provisions of this agreement are intended to be interpreted in a way that makes them valid, legal,
                and enforceable.
            </p>
            <p align="justify" class="f-16 text-muted">If any provision of this agreement is found to be partially or
                fully invalid, illegal, or unenforceable, it will be modified or restructured to the extent necessary to
                make it valid, legal, and enforceable, or, if it cannot be modified or restructured, it will be removed
                from the agreement without affecting the validity, legality, or enforceability of the remaining
                provisions.
            </p>
            <p align="justify" class="f-16 text-muted">You acknowledge and agree that Easeup may assign or transfer this
                agreement without your consent, including, but not limited to assignments:
            </p>
            <p align="justify" class="f-16 text-muted">
            <ul>
                <li>to a parent or subsidiary</li>
                <li>to an acquirer of assets</li>
                <li>to any other successor or acquirer</li>
            </ul>
            </p>
            <p align="justify" class="f-16 text-muted">On the effective date of the assignment of the agreement:
            </p>
            <p align="justify" class="f-16 text-muted">
            <ul>
                <li>Easeup will be relieved of all rights, obligations, and/or liabilities to you arising after the
                    effective date of the assignment, and</li>
                <li>the assignee entity will replace Easeup for the performance of this agreement.</li>
            </ul>
            </p>
            <p align="justify" class="f-16 text-muted">You may not assign or transfer this agreement without Easeup's
                prior written approval. Any assignment in violation of this section will be null and void. This
                agreement will benefit Easeup, its successors, and assigns.
            </p>
            <p align="justify" class="f-16 text-muted">All parts of this agreement that should continue in full force
                and effect after the expiration or termination of this agreement will do so, regardless of the
                expiration or termination of this agreement or your use of the Easeup platform.
            </p>
            <h2 class="mb-4 text-black">Licensing</h2>
            <p align="justify" class="f-16 text-muted">Handymen are solely responsible for ensuring that they have any
                necessary licenses, permits, or registrations before providing services or completing tasks. Some types
                of tasks and services may be prohibited by law, and it is the handyman's responsibility to avoid these
                prohibited tasks and services. Failure to do so could result in fines or other legal consequences. If
                you have questions about how local, state, provincial, or national laws apply to tasks and services on
                the Easeup platform, you should seek legal advice. Easeup is not responsible for overseeing, directing,
                or controlling a handyman's work or the performance of tasks. It is up to the client to determine if a
                handyman has the necessary skills and qualifications to complete a specific task. It is also the
                client's responsibility to check if certain tasks require a licensed or registered professional, and to
                discuss any potential hazards or obstacles at the task location with the handyman.
            </p>
            <h2 class="mb-4 text-black">Changes to this Agreement and the Easeup Platform </h2>
            <p align="justify" class="f-16 text-muted">Easeup reserves the right to make changes to any part of this
                Agreement, including the Terms of Service, Privacy Policy, and Happiness Pledge, at any time and without
                notice. This includes modifying, adding to, or deleting any terms and conditions, as well as reviewing,
                improving, modifying, or discontinuing the Easeup platform or any content or information available
                through the platform. Easeup may also limit access to certain features or restrict access to the
                platform entirely without any liability. While Easeup will try to notify you of significant changes to
                this Agreement by email, it is not responsible if it fails to do so. If any future changes to this
                Agreement are unacceptable to you or cause you to be in violation of the Agreement, you must deactivate
                your account and stop using the Easeup platform. By continuing to use the platform after any changes to
                this Agreement, you are accepting all such changes, unless prohibited by law in your jurisdiction.
            </p>
            <h2 class="mb-4 text-black">No Rights of Third Parties </h2>
            <p align="justify" class="f-16 text-muted">The provisions of this Agreement are intended for the benefit of
                the parties and their permitted successors and assigns only, and should not be interpreted as granting
                any rights to third parties (with the exception of third party beneficiaries specified in Section 19).
                This Agreement does not give any person or entity other than the user any interest, claim, remedy,
                liability, reimbursement, or any other legal action related to or connected to any agreement or
                provision in this Agreement. The terms of this Agreement are not enforceable by anyone who is not a
                party to this Agreement, although a client's agent may act on behalf of their client.
            </p>
            <h2 class="mb-4 text-black">Notices and Consent to Receive Notices Electronically </h2>
            <p align="justify" class="f-16 text-muted">You consent to receiving any agreements, notices, disclosures,
                and other communications ("Notices") related to this Agreement electronically, such as by email or by
                posting them on the Easeup platform. You agree that all Notices that we provide electronically satisfy
                any legal requirement for them to be in writing. Unless otherwise stated in this Agreement, all Notices
                under this Agreement will be considered to have been properly given when received if delivered in person
                or sent by certified or registered mail with a return receipt requested, when electronically confirmed
                if transmitted by fax or email, or on the day they are marked as delivered by an overnight delivery
                service's tracking information if sent for next day delivery by a recognized overnight delivery service.
            </p>
            <h2 class="mb-4 text-black">Consent to Electronic Signatures </h2>
            <p align="justify" class="f-16 text-muted">By agreeing to this clause, you are acknowledging that your
                electronic signature has the same legal effect as a handwritten signature and will be treated as such in
                any legal proceedings. You are also agreeing that the use of a keypad, mouse, or other device to select
                an item or action is considered equivalent to a handwritten signature. This means that any actions you
                take on the Easeup platform through these means will be legally binding and enforceable. It is important
                to carefully consider the implications of this clause before agreeing to it. If you have any questions
                or concerns about the legal effects of your electronic signature, you should seek the advice of an
                attorney or legal expert.
            </p>




        </div>
    </section>


    <!-- start home section -->
    <!--section class="section align-items-center bg-home-7 position-relative bg-light" id="home">


        <iframe class="container" src="/docs/privacy_policy.pdf#zoom=80&toolbar=0" frameborder="0" height="800px"
            width="90%"></iframe>


    </section>
    <!-- end section -->


    <!-- end cta -->


    <!-- start footer -->
    <section class="footer py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="address-content fw-bold">
                        <h5 class="text-black">Address</h5>
                        <p class="mt-5  f-14 ">River Way behind Salt Lake City, UT 8402</p>
                        <p class="mt-3 f-14 ">+(540)801-468-2313 (10am - 6pm, Monday - Saturday)</p>
                        <a href="" class=" f-14">info@example.com</a>
                    </div>
                    <div class="social-icon d-flex mt-4 mb-4 mb-lg-0">
                        <div class="facebook">
                            <a href="#"><i class="mdi mdi-facebook-box f-30"></i></a>
                        </div>
                        <div class="twitter ms-4">
                            <a href="#"><i class="mdi mdi-twitter f-30"></i></a>
                        </div>
                        <div class="twitter ms-4">
                            <a href="#"><i class="mdi mdi-instagram f-30"></i></a>
                        </div>
                        <div class="twitter ms-4">
                            <a href="#"><i class="mdi mdi-linkedin-box f-30"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-black">Explore</h5>
                    <ul class="menu list-unstyled mt-5">
                        <li class="menu-item"><a href="#">Start here</a></li>
                        <li class="menu-item"><a href="#">Services</a></li>
                        <li class="menu-item"><a href="#">Features</a></li>
                        <li class="menu-item"><a href="#">Client</a></li>
                        <li class="menu-item"><a href="#">Pricing</a></li>
                        <li class="menu-item"><a href="#">support center</a></li>
                        <li class="menu-item"><a href="#">Blogs</a></li>
                        <li class="menu-item"><a href="#">Newsletters</a></li>
                    </ul>

                </div>
                <div class="col-lg-2">
                    <h5 class="text-black">Explore</h5>
                    <ul class="menu mt-5 list-unstyled d-block">
                        <li class="info-item"><a href="#">Membership</a></li>
                        <li class="info-item"><a href="#">Purchase guide</a></li>
                        <li class="info-item"><a href="#">Privacy policy</a></li>
                        <li class="info-item"><a href="#">Terms of service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end footer -->

    <div class="bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="copy-right mb-5 text-center text-muted">
                        <script>document.write(new Date().getFullYear())</script> Easeup. Designed with
                        <i class="fa-solid fa-heart"></i> by <a href="#" class="text-reset">Easeup</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- bootstrap -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/tiny-slider.js"></script>
    <script src="js/swiper.min.js"></script>

    <!-- counter -->
    <script src="js/counter.init.js"></script>

    <!-- Custom -->
    <script src="js/app.js"></script>

</body>

</html>